# Configurações do Banco de Dados
APP_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_NAME=financas_pessoais
DB_USER=SEU_USUARIO_AQUI
DB_PASSWORD=SUA_SENHA_AQUI

# Configurações da API Gemini
GEMINI_API_KEY=""

# Configurações de Email (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_senha_de_aplicativo_aqui
MAIL_FROM_NAME="Equipe PREDITIV.IA"